body {
  margin: 0;
  padding: 0;
}

.card-picture {
  width: 200px;
  height: 250px;
}

.about-section {
  top: 2rem;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.dynamic-content img {
  max-width: 100%;
  height: auto;
  display: block;
}

.footer-picture {
  margin: 0 10px; /* Adjust the value as needed for spacing */
  width: 100px;
  height: auto;
}

.text-container {
  border-left: 2px solid #ccc; /* Adjust the color as needed */
  padding-left: 20px; /* Adjust the value as needed for spacing */
  text-align: left; /* Aligns the text to the left */
}

/* Responsive adjustments if necessary */
@media (max-width: 767px) {
  .footer-picture {
    margin-bottom: 10px; /* Adds space between stacked images on smaller screens */
  }

  .text-container {
    border-left: none;
    padding-left: 0;
    padding-top: 20px;
  }
}

.linkedin-picture {
  width: 100%;
  height: 96px;
  object-fit: cover;
}

